.about {
  margin: 2% 20%;
}
.divider {
  padding: 0%;
  margin: 3% 0% !important;
  width: 300px;
}

.about ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 0%;
  text-align: start;
  background-color: #60555c44;
  border-radius: 5px;
  padding: 15px;
}

.team {
  padding-top: 2%;
  border-radius: 5px;
}
.team img {
  width: 70%;
  border-radius: 5px;
}

.team h1 {
  padding: 2%;
}

.team::before {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 90%; /* Change this to whatever width you want. */
  border-bottom: 1px solid #4a3f46; /* This creates the border. Replace black with whatever color you want. */
}
b {
  color: #32212c;
  font-size: large;
  letter-spacing: 0.1em;
  line-height: 200%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.column {
  float: left;
  width: 40%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.779);
  padding: 5%;
  border-radius: 5px;
}

.container {
  padding: 0 16px;
  width: 100%;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
